{% assign has_dropdown = false %}
<ul id="accessibleNav" class="site-nav">
  {% comment %}
  Read the links from the menu passed in from {% include 'site-nav' ... %}
  {% endcomment %}
  {% for link in navMenu.links %}
  {% assign child_list_handle = link.title | handleize %}
  {% if link.links != blank %}
  {% assign has_dropdown = true %}
  <li class="menu-item-depth-0 site-nav--has-dropdown{% unless template.name == 'index' %}{% if link.active %} site-nav--open-dropdown{% endif %}{% endunless %}" aria-haspopup="true">
    <a href="{{ link.url }}" class="site-nav__linkdrop site-nav__label icon-fallback-text {% if link.active %} site-nav--active{% endif %}">{{ link.title }}
    </a>   
    <span class="mobile-nav__sublist-trigger">
      <span class="mobile-nav__sublist-expand">
        <i class="mdi mdi-chevron-down" aria-hidden="true"></i>
      </span>
      <span class="mobile-nav__sublist-contract">
        <i class="mdi mdi-chevron-up" aria-hidden="true"></i>
      </span>
    </span>
    {% assign flg = 0 %}  
    {% for sub_link in link.links %}
    {% if sub_link.links != blank and link.links.size > 1 %}
    {% assign flg = 1 %}  
    {% endif %}
    {% endfor %}
    <ul class="sub-nav__dropdown {% if flg == 1 %} mega-menu {% endif %} sub-menu mobile-nav__sublist items_{{ link.links.size }}">
      {% if link.links.size > 0 %}
      {% for sub_link in link.links %}
      <li class="menu-item-depth-1 {% if sub_link.links != blank %} site-nav--has-dropdown {% endif %}{% if sub_link.child_active %}site-nav--active site-nav__child-link--active{% endif %}">
        <a href="{{ sub_link.url }}" class="site-nav__link">{{ sub_link.title | escape }}
        </a>
        {% if sub_link.links != blank %}
        <ul class="sub-sub-nav__dropdown sub-menu mobiles-nav__sublist">
          {% for sub_sub_link in sub_link.links %}
          <li {% unless template.name == 'index' %}{% if sub_sub_link.child_active %}class="site-nav--active site-nav__child-link--active"{% endif %}{% endunless %}>
            <a href="{{ sub_sub_link.url }}" class="site-nav__link">{{ sub_sub_link.title | escape }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </li>
  {% else %}
  {% if link.title == "-" %}
  <hr class="hr--small medium-down--hide">
  {% else %}
  <li class="menu-item-depth-0{% if link.active %} site-nav--active{% endif %}">
    <a href="{{ link.url }}" class="site-nav__link{% if has_dropdown == false %} site-nav__linknodrop{% endif %}">{{ link.title }}</a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if customer %}
  {% else %}
    <li class="menu-item-depth-0">
      <a class="site-nav__link site-nav__linknodrop" href="/account/login">Login</a>
    </li>
    <li class="menu-item-depth-0">
      <a class="site-nav__link site-nav__linknodrop reg_btn" href="/account/register">
        <svg class="" style="margin-bottom: -1px;" xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 448 448">
          <title/>
          <g id="icomoon-ignore">
          </g>
          <path fill="#222" d="M439.25 352l8.75 78.25c0.5 4.5-1 9-4 12.5-3 3.25-7.5 5.25-12 5.25h-416c-4.5 0-9-2-12-5.25-3-3.5-4.5-8-4-12.5l8.75-78.25h430.5zM416 142.25l21.5 193.75h-427l21.5-193.75c1-8 7.75-14.25 16-14.25h64v32c0 17.75 14.25 32 32 32s32-14.25 32-32v-32h96v32c0 17.75 14.25 32 32 32s32-14.25 32-32v-32h64c8.25 0 15 6.25 16 14.25zM320 96v64c0 8.75-7.25 16-16 16s-16-7.25-16-16v-64c0-35.25-28.75-64-64-64s-64 28.75-64 64v64c0 8.75-7.25 16-16 16s-16-7.25-16-16v-64c0-53 43-96 96-96s96 43 96 96z"/>
        </svg>
      </a>
    </li>
  {% endif %}
</ul>
<style>
  .reg_btn path {
    transition: 0.3s;
  }

  .reg_btn:hover path {
    fill: #5632fa;
  }
</style>