<div class="customer_details">
  <div class="acc_dash">
    <div class="acc_name">
      <span class="first_letter-avatar">{{ customer.first_name | first }}</span>
      <h3>{{ customer.first_name }} {{ customer.last_name }}</h3>
      <h4>{{ customer.email }}</h4>
    </div>
    <div class="acc_dash--links">
      <ul>
        <li>
          <a href="/account">
            <svg width="25" height="25" viewBox="0 0 640 640" fill="#7174c7">
              <title></title>
              <g id="icomoon-ignore">
              </g>
              <path fill="#2D4D7C" d="M160 160c0-88.366 71.634-160 160-160s160 71.634 160 160v0 64c0 88.366-71.634 160-160 160s-160-71.634-160-160v0-64zM0 533.76c91.519-53.913 201.626-85.761 319.171-85.761 0.291 0 0.583 0 0.874 0.001h-0.045c116.48 0 225.92 31.040 320 85.76v106.24h-640v-106.24z"></path>
            </svg>
            <h4>Account Details</h4>
          </a>
        </li>
        <li>
          <a href="/collections/all">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="25" viewBox="0 0 640 640">
              <title/>
              <g id="icomoon-ignore">
              </g>
              <path fill="#2D4D7C" d="M576 315.84v324.16h-512v-324.16c9.618 2.431 20.66 3.825 32.028 3.825 23.417 0 45.452-5.918 64.69-16.341l-0.718 0.356v144.32h320v-144c18.433 9.918 40.336 15.746 63.601 15.746 11.501 0 22.67-1.424 33.339-4.106l-0.941 0.2zM96 0h128l-21.44 192.96c-7.395 53.217-52.058 93.907-106.444 95.038l-0.116 0.002c-53.12 0-82.56-40.64-65.6-91.2l65.6-196.8zM256 0h128l22.4 201.6c5.44 48-29.12 86.4-77.44 86.4h-17.92c-0.588 0.016-1.281 0.026-1.975 0.026-42.062 0-76.16-34.098-76.16-76.16 0-3.621 0.252-7.182 0.741-10.668l-0.046 0.402 22.4-201.6zM416 0h128l65.6 196.8c16.96 50.56-12.8 91.2-65.6 91.2-54.556-0.993-99.296-41.758-106.496-94.472l-0.064-0.568-21.44-192.96z"/>
            </svg>
            <h4>Access Shop</h4>
          </a>
        </li>
        <li>
          <a href="/account/logout">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="30" height="30" viewBox="0 0 512 512">
              <title/>
              <g id="icomoon-ignore">
              </g>
              <path fill="#2D4D7C" d="M384 320v-64h-160v-64h160v-64l96 96zM352 288v128h-160v96l-192-96v-416h352v160h-32v-128h-256l128 64v288h128v-96z"/>
            </svg>
            <h4>LOG OUT</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="acc_info">
    <h2>
      ACCOUNT DETAILS
    </h2>
    <div class="details-box">
      <div class="box-details">
        <div class="details-contents">
          <div class="edit_box">
            <a href="{{ routes.account_addresses_url }}">EDIT</a>
          </div>
          <div class="customer_name">
            <h3><b>Name:</b> <h4>{{ customer.first_name }} {{ customer.last_name }}</h4>
          </div>
          <div class="customer_address">
            <h3><b>Address:</b></h3>
            {% for address in customer.addresses %}
              <h4>{{ address.street }} {% if address.province != empty %}{{ address.province }},{% endif %} {% if address.zip != empty %}{{ address.zip }},{% endif %} {{ address.country }}</h4>
            {% endfor %}
          </div>
          <div class="customer_phone">
            <h3><b>Phone:</b></h3>
          {% for address in customer.addresses %}{% if address.phone != empty %} <h4>{{ address.phone }}</h4>{% endif %}{% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="order-history">
      <div class="history_box">
        <h2>ORDER HISTORY</h2>
      </div>
      <div class="box-details">
        <div class="details-contents">
          <div class="customer-orders">
            {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}
            <table class="full">
              <thead>
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <th>{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer.orders %}
                <tr>
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                  <td>{{ order.total_price | money }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
            {% endif %}
            {% if paginate.pages > 1 %}
            <div class="text-center">
              {% render 'pagination-custom', paginate: paginate %}
            </div>
            {% endif %}
            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
    <div class="update-pres">
      <div class="pres_box">
        <h2>UPDATE PRESCRIPTION</h2>
      </div>
      <div class="box-details">
        <div class="details-contents">
          <iframe aria-label='Quick RX Update Prescription' frameborder="0" style="height:380px;width:99%;border:none;" src='https://forms.zohopublic.com.au/quickrx/form/QuickRXUpdatePrescription/formperma/LJc4R41a7ReyNK7nHb7YKUQQCTPwi-uXn03Nd3gsNmQ?fn={{ customer.first_name }}&ls={{ customer.last_name }}&eml={{ customer.email }}'></iframe>
        </div>
      </div>
    </div>
    {% if customer.tags %}
      <div class="update-pres">
        <div class="pres_box">
          <h2>PRESCRIPTIONS HISTORY</h2>
        </div>
        <div class="box-details">
          <div class="details-contents">
            {% for tag in customer.tags %}
                <h4><a target="_blank" href="{{ tag | remove: '[' | remove: '"' | remove: ']' }}">MY PRESCRIPTION HISTORY FOLDER<a/></h4>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>